.pokemon_card{
  width: 20rem !important; 
  border-bottom: rgba(160, 52, 52, 0.63) 2px solid !important;
  border-right: rgba(160, 52, 52, 0.63) 2px solid !important;
  border-top:rgb(255, 142, 142) 2px solid !important;
  border-left: rgb(255, 142, 142) 2px solid !important;
  box-shadow: 1px 1px 5px #555 !important;
  border-radius: 6px !important;
  background-color:rgb(255, 73, 73) !important;
  margin: 1em;
}

.pokemon_card_list{
  list-style: none;
}

.pokemon_card_img_container{
  border-top: rgba(160, 52, 52, 0.63) 2px solid;
  border-left: rgba(160, 52, 52, 0.63) 2px solid;
  border-bottom:rgb(255, 142, 142) 2px solid;
  border-right: rgb(255, 142, 142) 2px solid;
  box-shadow: 0px 0px 3px #555 inset;
  background-color: rgb(185, 185, 185);
  max-width: 18rem;  
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
}

.pokemon_card_body{
  font-size: .6rem;
  box-shadow: 0px 0px 3px #555 inset;
  background-color: rgb(185, 185, 185);
  color: rgb(39, 39, 39);
  max-width: 18rem;  
  margin: 1rem;
  border-radius: 5px;
  border-top: rgba(160, 52, 52, 0.63) 2px solid;
  border-left: rgba(160, 52, 52, 0.63) 2px solid;
  border-bottom:rgb(255, 58, 58) 2px solid;
  border-right: rgb(255, 58, 58) 2px solid;
}