$yellow: yellow; // override $yellow to poke-yellow
$blue: rgb(87, 126, 255); // override $blue with less saturated blue

$body-color: $yellow; // set the body text color to yellow


// Card Overrides/Extensions

$card-border-highlight-color: rgb(255, 142, 142);
$card-border-shadow-color: rgb(160, 52, 52);
$card-outer-shadow: 1px 1px 5px #555;
$card-inner-shadow: 0px 0px 3px #555 inset;
$card-bg-color:  rgb(255, 73, 73);
$card-fg-color:  rgb(185, 185, 185);
$card-text-shadow: 2px 2px rgb(139, 139, 139);
$card-border-radius: 5px;

.card{
  border-top: $card-border-highlight-color 2px solid;
  border-left: $card-border-highlight-color 2px solid;
  box-shadow: $card-outer-shadow;
  border-bottom: $card-border-shadow-color 2px solid;
  border-right: $card-border-shadow-color 2px solid;
}

// Cards

// $card-spacer-y:                     .75rem !default;
// $card-spacer-x:                     1.25rem !default;
// $card-border-width:                 $border-width !default;
// $card-border-radius:                $border-radius !default;
// $card-border-color:                 rgba($black, .125) !default;
// $card-inner-border-radius:          subtract($card-border-radius, $card-border-width) !default;
// $card-cap-bg:                       rgba($black, .03) !default;
// $card-cap-color:                    null !default;
// $card-height:                       null !default;
// $card-color:                        null !default;
$card-bg:                           $card-bg-color;

// $card-img-overlay-padding:          1.25rem !default;

// $card-group-margin:                 $grid-gutter-width / 2 !default;
// $card-deck-margin:                  $card-group-margin !default;

// $card-columns-count:                3 !default;
// $card-columns-gap:                  1.25rem !default;
// $card-columns-margin:               $card-spacer-y !default;

@import '../node_modules/bootstrap/scss/bootstrap';
