.list_container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.pagination_container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #333;
  text-shadow: 2px 2px yellow !important;
}

.pagination_button > a {
  border: none;
  margin: 2px;
  color: yellow;
  text-shadow: 2px 2px rgb(39, 71, 255);
  background-color:rgb(255, 75, 75) !important;
}
